@charset "UFT-8";

@mixin title {
  margin: 6.2vh 32.6vw 3.7vh 0;
  border-bottom: 1px solid grey;
  font-size: 2vw;
}
$img-width: 17.1vw;
$mv-height: 20.5vw;

/* 共通部分 */
html {
  font-size: 1rem;
  body {
    font-family: sans-serif, "メイリオ", "Meiryo";
    line-height: 1.7;
    text-align: left;
    & * {
      box-sizing: border-box; /*padding,borderはwidthに含む*/
    }

    & * a {
      text-decoration: none; /*下線引かない*/
      display: block; /*ブロック要素に*/
    }
    img {
      max-width: 100%; /*画像がはみ出さないように*/
    }

    ul {
      list-style-type: none; /*listに黒点つけない*/
    }

    header {
      height: 15vh;
      width: 100vw;
      background-color: #fff;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;

      .wakuzawa-logo {
        margin: 6.6vh auto auto 5.3vw;
        width: 18vw;
      }

      .header-list {
        margin-right: 0.8vw;
        width: 32.4vw;
        display: flex;
        align-items: flex-end; /*ブロックを下揃え*/
        justify-content: flex-end; /*両端揃えて均等配置*/
        li {
          margin-right: 3.6vw;
          a {
            font-size: 1.7vw;
          }
        }
      }
    } //header

    main {
      margin: 21.2vh 22.1vw 0 23.3vw;
      .dressr-title {
        @include title;
      }
      .dressr-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          width: $img-width;
        }
      }

      .instagram-btn {
        height: 4.1vh;
        width: 15.2vw;
        margin-top: 0.9vh;
        text-align: center; /*左右真ん中寄せ*/
        line-height: 4.1vh; /*上下真ん中寄せ*/
        background-color: #727272;
        color: #fff;
        font-size: 1.3vw;
        opacity: 0.8;
        cursor: pointer; /*カーソル乗せると指になる*/
        box-shadow: 0 5px #dddddd;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
      }

      .dressr-sentence {
        margin-top: 4.6vh;
        font-size: 1.3vw;
      }

      .process {
        margin-top: 3.7vh;
        display: flex;
        justify-content: space-between;
        .arrow {
          .arrow-bottom {
            display: none;
          }
        }

        .process-top {
          font-size: 1.3vw;
          font-weight: bold;
        }

        .process-sentence {
          margin-top: 2.2vh;
          font-size: 1.1vw;
        }
      } //process

      .contact-btn {
        height: 6.9vh;
        width: 26.6vw;
        margin: 7vh 0 0 auto; /*ボタンを右寄せ*/
        text-align: center;
        line-height: 6.9vh; /*テキストを縦に中央揃え*/
        background-color: #000;
        color: #fff;
        font-size: 2.5vw;
        opacity: 0.8;
        cursor: pointer; /*カーソル乗せると指になる*/
        box-shadow: 0 5px #525252;

        &:hover {
          opacity: 1;
        }

        &:active {
          position: relative;
          top: 7px;
          box-shadow: none;
        }
      } //contact-btn

      .ar-title {
        @include title;
      }

      .ar-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* widthやheightの値は要カスタマイズ -----------------------------------------------*/
        .model-viewer {
          width: $img-width;
          height: $mv-height;
          background-color: #fff;
        }
        ​ .model-viewer-btn {
          position: absolute;
          right: 16px;
          bottom: 10px;
          height: 26px;
          font-weight: bold;
          line-height: 26px;
          color: white;
          background-color: #6b6868;
          border: none;
        }
        img {
          width: $img-width;
        }
      }
    } //main

    footer {
      background-color: #ccc;
      color: black;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    } //footer
  } //body
} //html

@media (max-width: 600px) {
  html {
    body {
      main {
        .process {
          display: block; /*フレックスボックス解除*/
          .arrow {
            .arrow-right {
              display: none; /*右矢印削除*/
            }
            .arrow-bottom {
              display: block;
            }
          }
        }
      }
    }
  }
}
